<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div id="root">
            <header>
                <nav>
                    <div class="nav__el">
                        <a href="/">Главная</a>
                    </div>
                </nav>
            </header>
            {% block content %}
	        {% endblock %}
            <footer>
                &COPY;Rafael Kocharli
            </footer>
        </div>

        
        <!--
        
        <div id="root"></div>
        <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="{% static 'js/app.js' %}" type='text/babel'></script>
        <script src="{% static 'js/index.js' %}" type='text/babel'></script>-->
    </body>
</html>